@model InlibrisVeritas.Models.Post


@{
    ViewData["Title"] = "Detaljerat inlägg";
}
    <div class="parallax-blogg"></div>
    <div class="welcome-div">
        <h2>Detaljerat inlägg</h2>
        <div class="detail-div">
            <h3>
                @Html.DisplayFor(model => model.Title)
            </h3>

                @Html.Raw(Model.Content)

            <h4>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </h4>
            <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="bloggbild" />
            <h4>
                @Html.DisplayNameFor(model => model.Created)
            </h4>
            <p>
                @Html.DisplayFor(model => model.Created)
            </p>
            <h4>
                @Html.DisplayNameFor(model => model.UserId)
            </h4>
            <p>
                @Html.DisplayFor(model => model.User.UserName)
            </p>
        </div>

        <div class="back">
            <a asp-action="Index">Tillbaka till inlägg</a>
        </div>
    </div>

